<template name="slickTable">

<div class="container">
<table width="100%">
  <tr>
    <td valign="top" width="50%">
      <div id="myGrid" style="width:600px;height:500px;">
      {{slick}}
      </div>
    </td>
    <td valign="top">
      
      <h2>Demonstrates:</h2>
      <ul>
        <li>column span</li>
      </ul>
        <h2>View Source:</h2>
        <ul>
            <li><A href="https://github.com/mleibman/SlickGrid/blob/gh-pages/examples/example-colspan.html" target="_sourcewindow"> View the source for this example on Github</a></li>
        </ul>
    </td>
  </tr>
</table>

</div>
</template> 