<template name="aboutPage">
<div class="container">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="eha_web.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="http://ecohealthalliance.org" role="button">Visit EcoHealth Alliance</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="sicki_slide_2.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="" role="button">View our Timeline</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="sicki_slide_3.png" alt="">
          <div class="container">
            <div class="carousel-caption">
             <p><a class="btn btn-lg btn-primary" href="{{pathFor 'ascendingReferences'}}" role="button">Read the History</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="sicki_slide_4.png" alt="">
          <div class="container">
            <div class="carousel-caption">
             <p><a class="btn btn-lg btn-primary" href="{{pathFor 'ascendingReferences'}}" role="button">See Contributors</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

		      <!-- START THE FEATURETTES -->

     <div class="row featurette">
        <div class="col-md-9">
          <h2 class="featurette-heading">Background, <span class="text-muted">Sicki @ EcoHealth Alliance</span></h2>
          <p class="lead">The Sicki Project was conceived at EcoHealth Alliance to improve our understanding of Emerging Infectious Diseases (EIDs). </p>
        </div>
        <div class="col-md-3">
			<p></p>
		</div>
      </div>

	<div class="row featurette">
		<div class="col-md-2">
			<p></p>
		</div>

        <div class="col-md-10">
          <img class="featurette-image img-responsive" src="eha_banner_lg.png" alt="Generic placeholder image">
        </div>
	</div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="dart.jpg" alt="By Oliver Delgado (a.k.a. teambo), Newark, DE, USA (http://www.fantasticdamage.com)via Wikimedia Commons">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">About Us, <span class="text-muted">The DART Team.</span></h2>
          <p class="lead">This site and the content was developed and curated by the Data Science and Research Technology (DART) Lab at EcoHealth Alliance</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Instructions, <span class="text-muted">Getting started.</span></h2>
	          <ul class="lead">
				<li> <strong>Find an event:</strong> In the header (above) click on Sections / EID Events </li>
				<li> <strong>Find information on a disease or symptom:</strong> In the header (above) click on Sections / Disease Pages </li>
				<li> </strong>Find a reference:</strong> Follow a link in text or click on the library </li>
			</ul>
        </div>
        <div class="col-md-5">
        	<br />
        	<br />
        	<br />
        	<br />
        	<br />
        	<br />
          <img class="featurette-image img-responsive" src="sicki_shot.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">



      <!-- /END THE FEATURETTES -->
	</div> <!--end container-->

</template>