<template name="aboutPage">

	<div class="container">

		<h3> About Us </h3>
		<p> This site and content were developed and curate by the Data Science and Rsearch Technology (DART) Lab at EcoHealth Alliance</p>
		<a href="http://ecohealthalliance.org"><img src="eha_banner.png" alt="EHA banner" /></a>
		
	</div>
	
	<div class="container">
		
		<h2> Background </h2>

		<p> The Sicki Project was conceived at EcoHealth Alliance to improve our understanding for Emerging Infectious Diseases (EIDs). </p>

	</div>


	<div class="container">
		
		<h2> Instructions </h2>

		<ul>
			<li> Find an event: In the header (above) click on Sections / EID Events </li>
			<li> Find information on a disease or symptom: In the header (above) click on Sections / Disease Pages </li>
			<li> Find a reference: Follow a link in text or click on the library </li>
		</ul>

	</div>

</template>