<template name="aboutPage">

		      <!-- START THE FEATURETTES -->
	<div class="container">


     <div class="row featurette">
        <div class="col-md-9">
          <h2 class="featurette-heading">Background, <span class="text-muted">Sicki @ EcoHealth Alliance</span></h2>
          <p class="lead">The Sicki Project was conceived at EcoHealth Alliance to improve our understanding for Emerging Infectious Diseases (EIDs). </p>
        </div>
        <div class="col-md-3">
			<p></p>
		</div>
      </div>

	<div class="row featurette">
		<div class="col-md-2">
			<p></p>
		</div>

        <div class="col-md-10">
          <img class="featurette-image img-responsive" src="eha_banner_lg.png" alt="Generic placeholder image">
        </div>
	</div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="dart.jpg" alt="By Oliver Delgado (a.k.a. teambo), Newark, DE, USA (http://www.fantasticdamage.com)via Wikimedia Commons">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">About Us, <span class="text-muted">The DART Team.</span></h2>
          <p class="lead">This site and the content was developed and curated by the Data Science and Research Technology (DART) Lab at EcoHealth Alliance</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Instructions, <span class="text-muted">Getting started.</span></h2>
	          <ul class="lead">
				<li> <strong>Find an event:</strong> In the header (above) click on Sections / EID Events </li>
				<li> <strong>Find information on a disease or symptom:</strong> In the header (above) click on Sections / Disease Pages </li>
				<li> </strong>Find a reference:</strong> Follow a link in text or click on the library </li>
			</ul>
        </div>
        <div class="col-md-5">
        	<br />
        	<br />
        	<br />
        	<br />
        	<br />
        	<br />
          <img class="featurette-image img-responsive" src="sicki_shot.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
	</div> <!--end container-->

</template>