<template name="accord">
    {{> element_menu}}
        <div class="page_related_container">
            <div id="page_editor">
                <div id="scene_container"></div>
            </div>

            <div id="page_navigation">Page Navigation</div>
        </div>
    </div>
</template>

<template name="element_menu">
    <div class="element_menu">
        <div id="accordion">
          <h3>Scene</h3>
          <div id="scene_list">
            {{#each scenes}}
            <div><img width="42" src="{{src}}"/></div>
            {{/each}}
          </div>
          <h3>Characters</h3>
          <div id="character_list">
            {{#each characters}}
            <div><img width="42" src="{{src}}"></div>
            {{/each}}
          </div>
          <h3>Objects</h3>
          <div id="object_list"></div>
          <h3>Text</h3>
          <div id="text_list"></div>
        </div>
    </div>
</template>