<template name="referenceDrop">
    <select name="referenceType">
    	<option value=""> -- </option>
        <option value="article"> Article (Journal) </option>
        <option value="article-magazine"> Article (Magazine) </option>
        <option value="article-newspaper"> Article (Newspaper) </option>
        <option value="bill"> Bill </option>
        <option value="book"> Book </option>
        <option value="chapter"> Chapter </option>
        <option value="paper-conference"> Conference Proceedings </option>
        <option value="entry-encyclopedia"> Encyclopedia Article </option>
        <option value="speech"> Speech </option>
        <option value="patent"> Patent </option>
        <option value="report"> Report </option>
        <option value="legislation"> Legislation </option>
        <option value="thesis"> Thesis </option>
        <option value="broadcast"> Broadcast </option>
        <option value="webpage"> Webpage </option>
    </select>
</template>